@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    outline: 0px;
}

body{
    background-color: #f8f8fa;
    max-width: 1600px; width: 100%; margin: 0px auto;
    
}

nav{
    
   
    background-color: #7030cc;
    border-top-left-radius: 30px;
    border-top-right-radius:30px ;
    border-left: solid 5px #ffffff;
    border-right: solid 5px #ffffff;
    display: flex;
    align-items: center;
    
}

.nav-items{
    display: flex;
    align-items:center;
    justify-content:space-between;
    
    font-family: "Poppins";
    /*  margin: 5vh 5vw; */
    width:90vw;
    padding: 5vh 7vw;
    
   
    

}

.menu-bars{
    display: none;
}

.links{
    margin-left: 280px;
}

.logo>img{
    width:130px;
    height: 50px;
}

.nav-links{
    text-decoration: none;
    color: #ffffff;
    margin: 1vw;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
}

.links>a:nth-child(1){
    color: #496fdc;
}


.nav-button>button
{
width:150px;
height: 50px;
font-weight: 500;

background-color: #1bbcef;
font-family: "Poppins";
border: none;
color: #ffffff;
}

.herosection{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    background-color: #7030cc;
    height: 70vh;
    border-left: solid 5px #ffffff;
    border-right: solid 5px #ffffff;
}


.herosection-left{
    
    width:55vw;
    height: 60vh;
    margin-left: 100px;

}

.herosection-left>h1{
    color: #ffffff;
    font-size: 40px;
    font-family: "Poppins";
}

.herosection-left>p{
    font-family: "Poppins";
    font-size: 15px;
    color: #ffffff;
    margin-top: 10px;
    margin-right:  200px;
}

.herosection-right{
    width:45vw;
    height: 70vh;
    
    
}

.herosection-right>img{
    
   
    height: 70vh;
   
    
}

.mid-section{
    display: flex;
    
    justify-content: space-between;
}

.mid-section-left>img{
    width:50vw;
    height: 100vh;
    

}

.mid-section-right{
    margin-top: 100px;
    font-family: "Poppins";
    margin-left: 50px;
   
}

.mid-section-right>h1{

    margin: 50px;
}

.midsection-items{
    display: flex;
    margin: 0px 50px;
    
}
.midsection-items>img{
    width: 20px;
    height: 20px;
    

}

.midsection-subitem>h1{
    font-size: 25px;
    padding-left: 10px;
   
}

.midsection-subitem>p{
    padding-left:10px ;
   font-size: 13px;
   
}

.midsection-bottom{
    margin-top: 50px;
    
    font-family: "Poppins";
    background-color: #f8f8fa;
}

.midsection-bottom>h1{
    text-align: center;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
    
}

.card{
    background-color: #ffffff;
    display: flex;
    flex-direction: column
    ;
    align-items: center;
    box-shadow: 2px 3px 3px #000;
    border-radius: 20px;
    height: 350px;
    width:250px;
    margin:10px

}

.card-head{
    margin: 20px;
    width:150px;
    height: 150px;
    border-radius: 50%;
    background-color: #1bbcef;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-head>img{
    width: 50px;
    height: 50px;
}
.card-body{
    width:220px;
    align-items: center;
 
    height: 25vh;
    border-radius: 20px;
   padding-top: 15px;
   
}

.card-body>h1{
    text-align: center;
    font-size: 25px;
}

.card-body>p{
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .herosection-left>p {
    margin: 0px;
    }

    .herosection{
        height: fit-content;
    }

    .links{
        margin-left: 10px;
    }

    .nav-items{
        padding: 2vw;
    }

    .herosection-right{
        padding-right: 100px;
    }

    .herosection-right>img{
        width:50vw;
    }
    .herosection-left{
        margin-left: 20px;
        width:40vw;
    }
    .herosection-left>p {
        margin-right: 50px;
    }
    .cards{
     margin: 50px 4vw;
     overflow-x: scroll;
    }

    
}


@media screen and (max-width:760px) {
    
   .links{
    display: none;
   } 

   .nav-items{
    justify-content: space-between;
   }

   .logo>img{
    width:80px;
    height: 30px;
   }

   .menu-bars{
    display: block;
    width:30px;
    height:40px;
    margin-right: 20px;
   }

   .nav-button>button{
    
    width:70px;
    height: 40px;
    border-radius: 5px;
   }

   .herosection{
    flex-direction: column;
    height: fit-content;
    
   }

   .herosection-right{

    width:90vw;
    margin: 5vw;
    height: 35vh;
    order:-1;
    }

    .herosection-right{
        padding-right: 0px;
        margin: 0px;
    }

    .herosection-right>img{
        width:90vw;
        margin: 3vw;
        height: 40vh;
        padding-right: 0px;
       
    }

    .herosection-left{
        width:90vw;
       
        margin-left:0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .herosection-left>h1{
        font-size: 25px;
        width: 90vw;
       
    }

    .herosection-left>p{
       
        width: 90vw;
        margin: 0px;
    }

    .mid-section{
        flex-direction: column;
       
    }

    .mid-section-left{
        width:90vw;
        margin: 5vw;
    }

    .mid-section-left>img{
       
        width:90vw;
        height: 50vh;
    }

    .mid-section-right{
       
        width:90vw;
        margin: 4vw;
    }

    .mid-section-right>h1{
        font-size:30px ;
        margin: 10px;
    }
    

    .midsection-items{
       
        width: 90vw;
        margin: 0px;
    }

    .cards{
        
        overflow-x: scroll;
        margin: 50px 4vw;
    }



}